<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-5 border-bottom">
  <div>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <span class="fs-4 fw-bold">{{ site.title }}</span>
    </a>
    <a href="{{ site.github.url }}/" class="d-flex align-items-center text-decoration-none">
      <span>{{ site.description }}</span>
    </a>
  </div>
  <nav class="d-inline-flex align-items-center mt-2 mt-md-0 ms-md-auto">
    {% for item in site.data.settings.menu %}
      <a class="me-3 py-2 text-decoration-none" href="{{ site.github.url }}{{ item.url }}">{{ item.name }}</a>
    {% endfor %}

    <div class="lang-switch">
      <a href="{{ page.url | remove: '/pt' }}" class="lang-btn {% if page.lang == 'en' or page.lang == nil %}active{% endif %}">EN</a>
      <a href="/pt{{ page.url }}" class="lang-btn {% if page.lang == 'pt' %}active{% endif %}">PT</a>
    </div>
  </nav>
</header>
