<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/libs/bootstrap/bootstrap.min.css">
  <script defer src="{{ site.github.url }}/assets/libs/fontawesome/all.min.js"></script>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.github.url }}/assets/favicon-ur-dome.jpg">
  <link rel="shortcut icon" type="image/jpeg" href="{{ site.github.url }}/assets/favicon-ur-dome.jpg">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
  <!-- Structured data: tells Google this site belongs to a specific person and links
       it to other pages that are also about her. Edit sameAs to add more (LinkedIn, etc.) -->
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "name": "Alexsandra Cavalcanti",
    "url": "https://cavalcantialex.github.io/",
    "jobTitle": "Ph.D. Student in Political Science",
    "affiliation": {
      "@type": "CollegeOrUniversity",
      "name": "University of Rochester"
    },
    "email": "mailto:acavalca@ur.rochester.edu",
    "sameAs": [
      "https://github.com/cavalcantialex",
      "https://www.sas.rochester.edu/psc/people/phd-current.php",
      "https://www.sas.rochester.edu/democracycenter/research/graduate-fellows.html"
    ]
  }
  </script>
</head>