---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    {{ content }}
  </div>
  <div class="col-md-6 d-flex justify-content-end">
    <img src="{{ site.github.url }}/assets/img/home.jpeg" alt="Home" class="home-photo">
  </div>
</div>

<!--{% include publications.html %}-->

<div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">
      {% if page.lang == 'pt' %}Atualizações{% else %}Updates{% endif %}
    </h3>

    {% include updates-list.html limit=10 %}

    {% if site.posts.size > 10 %}
      <div class="text-center mt-4">
        <a href="{{ site.github.url }}{% if page.lang == 'pt' %}/pt{% endif %}/updates" class="btn btn-outline-dark">
          {% if page.lang == 'pt' %}Ver mais{% else %}More{% endif %}
        </a>
      </div>
    {% endif %}
  </div>
</div>